#cartMain {
    padding: 100px 150px;
}

#total-title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(24, 161, 24);
}

#total-price {
    font-size: 30px;
    font-weight: bold;
}

#cartItems,
#cartAmount {
    display: inline-block;
}

#cartContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#payBtn {
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    background-color: rgb(1, 178, 1);
    color: white;
    font-weight: bold;
    margin: 100px 0;
}

#payBtn:hover {
    background-color: green;
    transition: 0.5s;
}