.AdminIndex_bg {
    background-color: #b4cff9;
}

.AdminIndex {
    background-color: #fff;
    margin: auto;
    padding: 70px 0;
    width: 1200px;
    border: 3px solid #ddd;
    text-align: center;
}

table {
    width: 100%;
}

.place__data {
    text-align: center;
}

td {
    line-height: 40px;
    padding: 10px 0;
}

.admin_prod_input {
    line-height: 40px;
    border-radius: 5px;
    border: 0.5px solid #ddd;
    width: 500px;
}

.admin_btn {
    border: none;
    color: #fff;
    border-radius: 7px;
}

.admin_btn:hover {
    opacity: 0.5;
    transition: 0.5s;
}

#create-btn {
    background-color: #3578E5;
    line-height: 40px;
}

#update-btn {
    background-color: rgb(31, 188, 31);
}

#delete-btn {
    background-color: red;
}