#page-header {
    background-color: #fff;
    position: fixed;
    width: 100%;
}

#header-container {
    display: flex;
    padding: 0px 40px;
    color: black;
    min-height: 60px;
    align-items: center;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header-left {
    padding: 0px 16px;
    display: inline-block;
    width: 100%;
}

#header-logo-links {
    display: flex;
    width: fit-content;
}

#header-logo {
    vertical-align: middle;
}

#header-logo-img img {
    display: block;
    width: 140px;
    height: 60px;
}

#header-links-list {
    display: flex;
    line-height: 48px;
    margin-bottom: 0px !important;
}

#header-links-list li {
    padding-left: 50px;
    list-style-type: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_links {
    text-decoration: none !important;
    color: black !important;
    font-weight: bolder !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_links:hover {
    color: #5392f9 !important;
}

#header-right {
    display: flex;
    justify-items: center;
}

#list-place,
#link-signup {
    margin: 10px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #5392f9;
    font-weight: lighter;
    margin-left: 30px;
    width: max-content;
}

#list-place {
    color: #5392f9 !important;
    background-color: #fff;
}

#link-signup {
    color: #fff !important;
    background-color: #5392f9;
}

#list-place:hover {
    background-color: #5392f9;
    color: white !important;
    transition: all 0.5s;
}

#link-signup:hover {
    color: black !important;
    transition: all 0.5s;
}

#link-signin {
    text-decoration: none;
    line-height: 55px;
    margin-left: 100px;
    font-weight: bold;
}

#log-box {
    display: flex;
}